<header>
    <div class="title">Система учета и контроля энергетических ресурсов</div>
    <button class="btn-header"><%= link_to 'выйти' %></button>
</header>

<%= render 'form' %>

<%= link_to 'Back', autorizations_path %>